<div class="content-app">    

    <div class="list-item" *ngFor="let miner of ListMiner, let i = index">
        <div class="list-item-segment">
            <h3>Estado</h3> 
            <label>{{miner.estado}}</label>           
        </div>
        <div class="list-item-segment">
            <h3>Nombre</h3>
            <label>{{miner.nombre}}</label><span class="material-symbols-outlined" style="font-size:20px;" (click)="goLink(miner.url)">link </span>
        </div>
        <div class="list-item-segment">
            <div class="field">
                <input class="list-item-input" [(ngModel)]="miner.cookies" placeholder="importe su cookie">
                <div class="line"></div>
            </div>            
        </div>
        <div class="list-item-segment">
            <button (click)="StartMiner(i)"> <i class="material-symbols-outlined">play_arrow</i>Iniciar</button> 
        </div>
    </div>    
    
</div>

