.side-left-nav{
    background-color: darkgray;
    height: 100%;
    width: 20%;
    position: fixed;
    overflow: hidden;    
    top: 0; /* Stay at the top */
    left: 0;  
}

.header-nav{    
    height: 15%;
    padding: 5px;    
}

.header-nav .Title {
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    font-family: 'Rubik';
    margin-top: 20px;
}

.list-nav{    
    height: 65%;
    text-align: center;    
}

.list-nav ul li {
    font-family: 'Rubik';
    padding: 15px;
}