<div class="side-left-nav">

    <div class="header-nav">
        <h2 class="Title">RMiner</h2>
    </div>
     
    <div class="list-nav">
        <ul>
            <li><i class="material-symbols-outlined">home_app_logo</i> Inicio</li>
            <li routerLink="miner"><span class="material-symbols-outlined">robot</span>Bot</li>
            <li><i class="material-symbols-outlined">wallet</i> Wallets</li>
            
        </ul>
    </div>
    
    <div class="footer-nav">
        <h2>Login</h2>
    </div> 
</div>
<router-outlet></router-outlet>


